/*
	Designed by Junowebdesign
*/
@font-face {font-family: 'HelveticaNeueLTPro-Bd'; src: url('fonts/helveticaneueltprobd.eot'); src: url('fonts/helveticaneueltprobd.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneueltprobd.woff') format('woff'), url('fonts/helveticaneueltprobd.ttf') format('truetype'), url('fonts/helveticaneueltprobd.svg#helveticaneueltprobd') format('svg'); font-weight: normal; font-style: normal; } 
@font-face {font-family: 'HelveticaNeueLTPro-Hv'; src: url('fonts/helveticaneueltprohv.eot'); src: url('fonts/helveticaneueltprohv.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneueltprohv.woff') format('woff'), url('fonts/helveticaneueltprohv.ttf') format('truetype'), url('fonts/helveticaneueltprohv.svg#helveticaneueltprohv') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'PeaRoxygirl'; src: url('fonts/pearoxygirl.eot'); src: url('fonts/pearoxygirl.eot?#iefix') format('embedded-opentype'), url('fonts/pearoxygirl.woff') format('woff'), url('fonts/pearoxygirl.ttf') format('truetype'), url('fonts/pearoxygirl.svg#pearoxygirl') format('svg'); font-weight: normal; font-style: normal; }
/* #Reset
================================================================================================= */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }
/* #Containers
================================================================================================= */
.wrapper { /*You can adjust the width here to fit your design. i.e: 980px, 1280px if you wnat a fixed container*/
	width:1000px;
	margin: 0 auto;
}

.inner-contents {padding: 0 14px;background: #fff;overflow: hidden;}

.container {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	display: inline-block;
}

/* #Colummns
================================================================================================= */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* #Grind 12 Colummns
================================================================================================= */
.col1 {width:6.333%;} .col2 {width:14.667%;} .col3 {width:23.0%;} .col4 {width:31.333%;} .col5 {width:39.667%;} .col6 {width:48.0%;} .col7 {width:56.333%;} .col8 {width:64.667%;} .col9 {width:73.0%;} .col10 {width:81.333%;} .col11 {width:89.667%;} .col12 {width:98.0%;}
/* #Clear Margin left and right
================================================================================================= */
.first {margin-left: 0;}
.last {margin-right: 0;}
.left {float: left;}
.right {float: right;}
/* Media - Fluid Images - Video 
============================================================================================== */
figure {margin: 0}
img, object, embed, video {max-width: 100%;	_width: 100%} /* Fluid images */
img {border: 0;	-ms-interpolation-mode: bicubic} /* Improve IE's resizing of images */
svg:not(:root) {overflow: hidden} /* Correct IE9 overflow */
img {height: auto;}
/*Heading*/
h1 ,h2 {font-family: 'HelveticaNeueLTPro-Hv';}
h3 {font-family: 'HelveticaNeueLTPro-Bd';}
p {font-size: 11px;line-height: 1.5em;}
/* Links (No outline borders) 
============================================================================================== */
a {text-decoration: none;color: #4b4b4b;}
a:focus, a:hover, a:active {outline: 0;}
a.hu:hover {text-decoration: underline;}
/* Responsive Navigation Basic Style 
----------------------------------------------------------------------------------------------------*/
nav ul {list-style: none;}
nav li {display: inline-block;}
nav a {display: inline-block;}
nav select {display: none;}
    
/*You can adjust the width size when you want to resize the menu*/
@media (max-width: 480px) {
    nav ul {display: none;}
    nav select {display: inline-block;}
}

/* Clear 
----------------------------------------------------------------------------------------------------*/
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; } /* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; } .clearfix {display: inline-block;} * html .clearfix {height: 1%; } .clearfix {display: block; } /* General small screen Mobile
============================================================================================== */
/*Main Style*/
body {background:url(../images/bg.jpg) center center fixed no-repeat;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family:Arial, sans-serif;
	line-height: normal;}
/*Header*/
#header {}


/*Body*/
#body {}

/*Footer*/
#footer {}


/*Page-navi
.page-navi {float: right;font-size: 11px;}
.page-navi span.label {float: left;color: #424242;}
.page-navi ul {float: right;}
.page-navi ul li {float: left;margin-left: 7px;}
.page-navi ul li a {color: #424242;}
.page-navi ul li a:hover {text-decoration: underline;}
.page-navi ul li a.bt {background: url(../images/page-navi-bt.png) 0 3px no-repeat;display: block;text-indent: -9999px;width: 5px;height: 12px;}
.page-navi ul li a.prev {margin-right: 5px;}
.page-navi ul li a.next {background-position: 0 -9px;margin-left: 5px;}
.page-navi ul li.current a {text-decoration: underline;font-weight: bold;}*/


/*blog-single
.blog-single {}
.blog-single .social-share {display: block;width: 100%;overflow: hidden;}
.blog-single .content {width: 100%;clear: both;margin-top: 15px;overflow: hidden;}
.blog-single .content h1 {font-size: 20px;color: #205824;margin:0px 0 5px;display: block;line-height: normal;font-family: 'HelveticaNeueLTPro-Bd';}
.blog-single .content img {margin-bottom: 15px;}
.blog-single .content p {font-size: 13px;color: #4b4b4b;margin-bottom: 20px;}
.blog-single .content p a {color: #000;}
.blog-single .content p a:hover {text-decoration: underline;}
.blog-single .meta {font-weight: bold;font-size: 13px;color: #205824;margin-bottom: 20px;display: block;}
.blog-single .meta a {color: #205824;}
.blog-single .author {border: 3px solid #f4f4f6; padding:22px 18px 22px;overflow: hidden;}
.blog-single .author .author-info {width: 83.4%;}
.blog-single .author .author-info strong.title {font-size: 13px;font-weight: bold;color: #205824;}
.blog-single .author .author-info .position {font-size: 12px;display: block;margin-bottom: 10px;}
.related {margin-top: 33px;padding-top: 28px;border-top: 1px solid #d8d8d8;}
.related ul li {overflow: hidden;margin-bottom: 18px;padding-right: 20px;}
.related ul li img {float: left;margin-right: 13px;}
.related ul li a {font-size: 13px;color: #205824;font-weight: bold;margin-bottom:5px;display: block;}
.related ul li a:hover,.comment-list ul li span a:hover {text-decoration: underline;}
.related h2 ,
.comment-list h2 {font-size: 20px;color: #205824;font-family: 'HelveticaNeueLTPro-Bd';margin-bottom:20px;}
.comment-list h2 {float: left;}
.comment-list .post-comment {float: right;color: #fff;font-size: 11px;font-weight: bold;display: block;text-align: center;padding: 3px 7px;background: #2c4722;}
.comment-list {margin-top: 33px;padding-top: 28px;border-top: 1px solid #d8d8d8;}
.comment-list ul {clear: both;}
.comment-list ul li {overflow: hidden;margin-bottom: 18px;padding-right: 20px;}
.comment-list ul li span {font-size: 13px;color: #205824;font-weight: bold;}
.comment-list ul li span a {color: #205824;}
#comment-form {background: #fff;padding: 20px;width: 400px;}
#comment-form h2 {font-size: 20px;color: #205824;font-family: 'HelveticaNeueLTPro-Bd';float: left;margin-bottom: 10px;}
#comment-form .b-close {font-size: 13px;float: right;margin-top: -10px;}
#comment-form ul li {float: left;clear: both;margin-bottom: 10px;}
#comment-form ul li label {font-size: 13px;float: left;clear: both;width: 100%;padding-bottom: 5px;}
#comment-form ul li input ,
#comment-form ul li textarea {border:1px solid #d8d8d8;font-size: 11px;padding: 4px 5px;width: 388px;}
#comment-form ul li.last input {width: 100px;padding: 6px 7px;
background: #2c4722;font-weight: bold;color: #fff;border: none;cursor: pointer;}*/

/* Custom sizes
============================================================================================== */

@media handheld, only screen and (max-width: 767px) {
	body {font-size: 1.0em; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; } .container_fixed,.container {width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
	.col1, .col2,  .col3,  .col4,  .col5,  .col6,  .col7,  .col8, .col9, .col10, .col11, .col12 {width: auto; float: none; margin-left: 10px; margin-right: 10px; padding-left: 10px; padding-right: 10px; }
}

@media screen and (max-width: 480px) {
 /* Add your styles for devices with a maximum width of 480 */
 .contents {width: 92%;}
}

@media screen and (max-width: 768px) {
 /* Add your styles for devices with a maximum width of 768 */
 .contents {width: 92%;}
}

@media screen and (max-width: 320px) {
 /* Add your styles for devices with a maximum width of 320 */
 .contents {width: 92%;}
}

@media screen and (max-width: 1024px) {
 /* Add your styles for devices with a maximum width of 1024 */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   /* Add your styles for devices with a maximum width of 1024 */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Add your styles for devices with a maximum width of 768 */
}
